activate
.venv
dist/
build/
.cache/
.eggs/
**/__pycache__
redblackgraph/about.py
redblackgraph.egg-info/
redblackgraph/sparsetools/CMakeLists.txt
_sparsetools.cpython-36m-darwin.so
redblackgraph/sparsetools/cmake-build-debug/
.coverage
_sparsetools.cpython-36m-x86_64-linux-gnu.so
notebooks/.ipynb_checkpoints/
redblackgraph/core/src/multiarray/redblack.c
redblackgraph/core/src/multiarray/rbg_math.c
redblackgraph/core/src/multiarray/rbg_math.h
redblackgraph/core/src/multiarray/relational_composition.c
redblackgraph/core/src/multiarray/warshall.c
redblackgraph/__config__.py
redblackgraph/rb_multiarray.*.so
redblackgraph/rb_sparsetools.*.so
redblackgraph/tests/resources/results.csv
