activate
.venv
dist/
build/
.cache/
.eggs/
*.pyc
**/__pycache__
redblackgraph/about.py
redblackgraph.egg-info/
redblackgraph/sparsetools/CMakeLists.txt
_sparsetools.cpython-36m-darwin.so
redblackgraph/sparsetools/cmake-build-debug/
_sparsetools.cpython-36m-x86_64-linux-gnu.so
redblackgraph/core/src/multiarray/redblack.c
redblackgraph/core/src/multiarray/rbg_math.c
redblackgraph/core/src/multiarray/rbg_math.h
redblackgraph/core/src/multiarray/relational_composition.c
redblackgraph/core/src/multiarray/warshall.c
redblackgraph/__config__.py
redblackgraph/rb_multiarray.*.so
redblackgraph/rb_sparsetools.*.so
redblackgraph/tests/resources/closure.results.csv
redblackgraph/tests/resources/composition.results.csv
_version.py.bld
notebooks/*.pdf
notebooks/*.tex
notebooks/*.aux
notebooks/*.log
notebooks/*.out
notebooks/Rapp-FamilyHistory/*.xlsx
.pytest_cache
**/.ipynb_checkpoints
.Trash-*